<%- include('partials/_header') %>
<%- include('partials/_nav') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Inicio </a>
        <a class="nav-item nav-link" href="/registro">Registrarse</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
        <!--Form-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <blockquote class="blockquote text-center">
                        <p class="mb-0">Editar Caso</p>
                    </blockquote>

                    <form action=<%= "/helper/edit/"+object.id%> method="POST">
                        <div class="form-group">
                            <input type="text" name = "name" placeholder="Nombre" class = "form-control" autocomplete="off"> <!--value = "<%= object.name%>"-->
                        </div>
                        <div class="form-group">
                            <input type="text" name = "lastname" placeholder="Apellido" class = "form-control" autocomplete="off"><!--value = "<%= object.lastname%>"-->
                        </div>
                        <div class="form-group">
                            <input type="number" name = "dni" placeholder="Cedula" class = "form-control" autocomplete="off"><!--value = "<%= object.dni%>"-->
                        </div>
                        <p>Sexo:</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" id="inlineRadio1" value="masculino">  <!--checked = "<%= object.male%>"-->
                            <label class="form-check-label" for="inlineRadio1">Masculino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" id="inlineRadio2" value="femenino">   <!--checked = "<%= object.female%>"-->
                            <label class="form-check-label" for="inlineRadio2">Femenino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" id="inlineRadio3" value="otro">   <!--checked = "<%= object.other%>"-->
                            <label class="form-check-label" for="inlineRadio3">Otro</label>
                        </div>
                        <br></br>
                        <p>Fecha Nacimiento:</p>
                        <div class="form-group">
                            <input type="date" name = "birthdate" class = "form-control"> <!--value = "<%= object.date1%>"-->
                        </div>
                        <div class="form-group">
                            <input type="text" name = "homeDir" placeholder="Direccion Recidencia" class = "form-control" autocomplete="off"> <!--value = "<%= object.dir1%>"-->
                        </div>
                        <div class="form-group">
                            <input type="text" name = "jobDir" placeholder="Direccion Trabajo" class = "form-control" autocomplete="off"> <!--value = "<%= object.dir2%>"-->
                        </div>
                        <p>Resultado Examen:</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="examResult" id="inlineRadio4" value="positivo"> <!--checked = "<%= object.pos%>"-->
                            <label class="form-check-label" for="inlineRadio4">Positivo</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="examResult" id="inlineRadio5" value="negativo">  <!--checked = "<%= object.neg%>"-->
                            <label class="form-check-label" for="inlineRadio5">Negativo</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="examResult" id="inlineRadio6" value="muerte">
                            <label class="form-check-label" for="inlineRadio6">Muerte</label>
                        </div>
                        <br></br>
                        <p>Fecha Examen:</p>
                        <div class="form-group">
                            <input type="date" name = "examDate" class = "form-control"> <!--value = "<%= object.date2%>"-->
                        </div>

                        <p>Actualizar Estado:</p>

                        <div class="form-check form-check">
                            <input class="form-check-input" type="radio" name="newState" id="Radio6" value="home"> <!--checked = "<%= object.casa%>"-->
                            <label class="form-check-label" for="Radio6">Tratamiento en Casa</label>
                        </div>

                        <div class="form-check form-check">
                            <input class="form-check-input" type="radio" name="newState" id="Radio7" value="hospital">  <!--checked = "<%= object.hosp%>"-->
                            <label class="form-check-label" for="Radio7">Tratamiento Hospital</label>
                        </div>

                        <div class="form-check form-check">
                            <input class="form-check-input" type="radio" name="newState" id="Radio8" value="uci"> <!--checked = "<%= object.uci%>"-->
                            <label class="form-check-label" for="Radio8">Tratamiento en UCI</label>
                        </div>

                        <div class="form-check form-check">
                            <input class="form-check-input" type="radio" name="newState" id="Radio9" value="healthy">  <!--checked = "<%= object.curado%>"-->
                            <label class="form-check-label" for="Radio9">Curado</label>
                        </div>

                        <div class="form-check form-check">
                            <input class="form-check-input" type="radio" name="newState" id="Radio10" value="dead">  <!--checked = "<%= object.muerto%>"-->
                            <label class="form-check-label" for="Radio10">Muerto</label>
                        </div>
                        <br>

                        <p>Fecha Ultimo Cambio:</p>
                        <div class="form-group">
                            <input type="date" name = "newStateDate" class = "form-control"> <!--value = "<%= object.date3%>"-->
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0">Historial</p>
                    </blockquote>
                    <table class = "table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < history.length; i++){ %>
                                <tr>
                                    <td class="text-center"><%= history[i].date %></td>
                                    <td class="text-center"><%= history[i].state %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include('partials/_footer') %>